h1{
	text-align: center;
	background-color: white;
	font-size: 25px;
	font-family: serif;
	color: black;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);

}
#body-color{
	width:35%;
	float: right;
	margin-top:180px;
	margin-right:180px;
}

fieldset{
	width:96%;
	background-color:#BCBCB4;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;

}

.logIN{
	margin-left: 70px;
    border-radius: 8px;
    height: 30px;
    font-size: 18px;
}


#login_button{
	float:right;
	margin-right: 150px;
	
	background-color: #0066FF;
	color:white;
	font-family: 'Yanone Kaffeesatz';

    font-size: 1.2em;
    border-radius: 8px;
}

#login_button:hover{
	background-color:#6A9DEB;
}


#signup_button{
	margin-left: 180px;
	background-color: #FF0000;
	color:white;
	font-family: 'Yanone Kaffeesatz';
    font-size: 1.2em;
    border-radius: 8px;
}

#signup_button:hover{
	background-color: #FF7171;
}

#signup{
	margin-right: auto;
	margin-left: auto;
	background-color: #008F00;
	color:white;
	font-family: 'Yanone Kaffeesatz';
    font-size: 1.6em;
    width: 35%;
    border-radius: 8px;
}

#signup:hover{
	background-color: #70DB70;
}

.signUP{

    border-radius: 8px;
    height: 30px;
    font-size: 20px;
    width:500px;
}



#sign-up{
	text-align: center;
	background-color: white;
	
	font-family: serif;
	color: black;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
}


#home{
	background-color: #008F00;
	color:white;
	font-family: 'Yanone Kaffeesatz';
    font-size: 0.7em;
    width: 500px;
    border-radius: 8px;
}
#home:hover{
	background-color: #70DB70;
}

#home_page{
	width : 96%;
	
}

#TermBox{
	margin-bottom: 10px;
}

/* The display of the terms */




/*for the search.php*/

.buttonInPage{
	float:right;		
	background-color: #0066FF;
	color:white;
	font-family: 'Yanone Kaffeesatz';
	margin-right:3%;
    font-size: 1.2em;
    border-radius: 8px;
}

.buttonInPage:hover{
	background-color:#6A9DEB;

}

#searchBox{
	margin-left: 3%;
	border-radius: 8px;
    height: 5%;
    font-size: 20px;
    width:30%;
}

#searchBtn{
	background-color: #0066FF;
	color:white;	
	font-family: 'Yanone Kaffeesatz';
    font-size: 1.3em;
    border-radius: 9px;
}

#searchBtn:hover{
	background-color:#6A9DEB;

}


/*for adding terms in page.php*/

.cancel{
	background-color: #0066FF;
	color:white;
	font-family: 'Yanone Kaffeesatz';
	margin-right:3%;
    font-size: 1.2em;
    border-radius: 8px;
}

.cancel:hover{
	background-color:#6A9DEB;

}

.addTermBtn{
	background-color: #008F00;
	color:white;
	font-family: 'Yanone Kaffeesatz';
	margin-right:3%;
    font-size: 1.2em;
    border-radius: 8px;
}

.addTermBtn:hover{
	background-color: #70DB70;
}

#addtermBtn{
	background-color: #008F00;
	color:white;
	font-family: 'Yanone Kaffeesatz';
	margin-right:3%;
    font-size: 1.2em;
    border-radius: 8px;
}

#addtermBtn:hover{
	background-color: #70DB70;
}

/* terms */

.term_header {
	font-size: 20px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: white;
	border: solid, 1px, white;
	padding: 2px;
	padding-left: 30px; 
	border-radius: 2px;
}

.one_term {
	font-family: helvetica;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 3px;
	border-radius: 5px;
	border: 2px solid black;
}

.page_title{
	background-color: #BCBCB8;
	font-size: 1.8em;
	font-family: helvetica;
}